{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Apply for Pass</title>
  <link rel="stylesheet" href="{% static 'css/forms_style.css' %}">
  <link rel="icon" href="{% static 'images/favicon.png' %}">
  <script src="{% static 'javascript/forms.js' %}" defer></script>
</head>
<body>
  {% include 'includes/psu_gso_header.html' with page_no=1 %}
  <div class="container">
    <h2 class="form1-h2">Registration for Vehicle Pass (1/3)</h2>

    <div class="progress-container">
      <div class="progress-bar" style="width: 33%;"></div> <!-- Adjust width for each step -->
    </div>

    <form method="POST">
      {% csrf_token %}
<!-- 
      {% if form.errors %}
        <div class="form-errors">
          <ul>
            {% for field in form %}
              {% for error in field.errors %}
                <li>{{ field.label }}: {{ error }}</li>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %} -->
      
      <h3>Personal Information</h3>
      <hr>
      <br>
      <div class="form1-name-group">

        <div class="form-group form1-form-group">
          <label for="{{ form.lastname.id_for_label }}">Last Name</label>
          {{ form.lastname }}
        </div>

        <div class="form-group form1-form-group">
          <label for="{{ form.firstname.id_for_label }}">First Name</label>
          {{ form.firstname }}
        </div>

        <div class="form-group form1-form-group">
          <label for="{{ form.middlename.id_for_label }}">Middle Name</label>
          {{ form.middlename }}
        </div>

        <div class="form-group form1-form-group">
          <div class="suffix-custom-size" style="width:75px">
            <label for="{{ form.suffix.id_for_label }}">Suffix</label>
            {{ form.suffix }}
          </div>
        </div>
      </div>

      <div class="form1-aligned-group">
        <div class="form-group form1-form-group">
          <label for="{{ form.corporate_email.id_for_label }}">Corporate Email</label>
          {{ form.corporate_email }}
        </div>

        <div class="form-group form1-form-group">
          <label for="{{ form.contact.id_for_label }}">Contact</label>
          {{ form.contact }}
        </div>
        
        <div class="form-group form1-form-group">
          <label for="{{ form.dl_number.id_for_label }}">Driver's License Number</label>
          {{ form.dl_number }}
        </div>
      </div>

      <div class=form1-aligned-group>
        <div class="form-group form1-form-group">
          <label for="{{ form.address.id_for_label }}">Address</label>
          {{ form.address }}
        </div>
      </div>

      <div class="form-group form1-form-group">
        <label for="{{ form.school_role.id_for_label }}">School Role</label>
        <div class="form1-radio-group">
          {{ form.school_role }}
        </div>
      </div>

      <div class="form1-aligned-group" id="employee-fields" style="display: none;">
        <div class="form-group form1-form-group">
          <div class="form-group">
              <label for="{{ form.position.id_for_label }}">Position (Employees Only)</label>
              {{ form.position }}
          </div>
        </div>

        <div class="form-group form1-form-group">
          <div class="form-group">
              <label for="{{ form.workplace.id_for_label }}">Workplace/College</label>
              {{ form.workplace }}
          </div>
        </div>
      </div>

      <div class="form1-aligned-group" id="student-fields" style="display: none;">
        <div class="form-group form1-form-group">
          <label for="{{ form.college.id_for_label }}">College</label>
          {{ form.college }}
        </div>
        <div class="form-group form1-form-group">
          <label for="{{ form.program.id_for_label }}">Program</label>
          {{ form.program }}
        </div>
        <div class="form-group form1-form-group">
          <label for="{{ form.year_level.id_for_label }}">Year Level</label>
          {{ form.year_level }}
        </div>
      </div>

      <div id="family-info-section">
        <h3>Family Information</h3>
        <hr>
        <br>
        <div class="form1-aligned-group">
          <div class="form-group form1-form-group">
            <label for="{{ form.father_name.id_for_label }}">Father's Name</label>
            {{ form.father_name }}
          </div>
          <div class="form-group form1-form-group">
            <label for="{{ form.father_contact.id_for_label }}">Father's Contact</label>
            {{ form.father_contact }}
          </div>
          <div class="form-group form1-form-group">
            <label for="{{ form.father_address.id_for_label }}">Father's Address</label>
            {{ form.father_address }}
          </div>
        </div>

        <div class="form1-aligned-group">
          <div class="form-group form1-form-group">
            <label for="{{ form.mother_name.id_for_label }}">Mother's Name</label>
            {{ form.mother_name }}
          </div>
          <div class="form-group form1-form-group">
            <label for="{{ form.mother_contact.id_for_label }}">Mother's Contact</label>
            {{ form.mother_contact }}
          </div>
          <div class="form-group form1-form-group">
            <label for="{{ form.mother_address.id_for_label }}">Mother's Address</label>
            {{ form.mother_address }}
          </div>
        </div>

        <div class="form1-aligned-group">
          <div class="form-group form1-form-group">
            <label for="{{ form.guardian_name.id_for_label }}">Guardian's Name</label>
            {{ form.guardian_name }}
          </div>
          <div class="form-group form1-form-group">
            <label for="{{ form.guardian_contact.id_for_label }}">Guardian's Contact</label>
            {{ form.guardian_contact }}
          </div>
          <div class="form-group form1-form-group">
            <label for="{{ form.guardian_address.id_for_label }}">Guardian's Address</label>
            {{ form.guardian_address }}
          </div>
        </div>
      </div>
      <br>
      <br>

      <div class="form-navigation">
        <a href="{% url 'default_dashboard' %}">
          <button class="back-btn form2-back-btn" type="button">Back</button>
        </a>
      
        <button class="btn form2-btn" type="submit" id="form1-next-btn" >Next</button>
      </div>
    </form>
  </div>
  {% include 'includes/forms_footer.html' %}
</body>
</html>