<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Apply for Pass</title>
  <link rel="stylesheet" href="../../static/css/forms_style.css">
  <script src="../../static/javascript/forms.js" defer></script>
</head>
<body>
  <div class="container">
    <div class="welcome form1-welcome">Welcome, User_1!</div>
    <h2 class="form1-h2">Registration for Vehicle Pass (1/3)</h2>
    
    <form id="vehicle-form">
      <div class="form1-name-group">
        <div class="form-group form1-form-group">
          <label>First Name</label>
          <input type="text" class="form-control" placeholder="Enter First Name" required>
        </div>
        
        <div class="form-group form1-form-group">
          <label>Middle Name</label>
          <input type="text" class="form-control" placeholder="Enter Middle Name">
        </div>
        
        <div class="form-group form1-form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" placeholder="Enter Last Name" required>
        </div>
      </div>

      <div class="form1-aligned-group">
        <div class="form-group form1-form-group">
          <label>Corporate Email</label>
          <input type="email" placeholder="Enter Corporate Email" required>
        </div>

        <div class="form-group form1-form-group">
          <label>School Role:</label>
          <div class="form1-radio-group">
            <label><input type="radio" name="role" required> Student</label>
            <label><input type="radio" name="role" required> Faculty</label>
          </div>
        </div>

        <div class="form-group form1-form-group">
          <label>Driver License's Number</label>
          <input type="text" placeholder="Enter Driver License Number" required>
        </div>
      </div>

      <h2 class="form1-h2">Vehicle Details</h2>

      <div class="form1-aligned-group">
        <div class="form-group form1-form-group">
          <label>Type:</label>
          <div class="form1-radio-group">
            <label><input type="radio" name="type" required> Car</label>
            <label><input type="radio" name="type" required> Motorbike</label>
          </div>
        </div>

        <div class="form-group form1-form-group">
          <label>Model</label>
          <input type="text" placeholder="Enter Vehicle Model" required>
        </div>

        <div class="form-group form1-form-group">
          <label>Plate Number</label>
          <input type="text" placeholder="Enter Plate Number" required>
        </div>
      </div>

      <div class="form1-aligned-group">
        <div class="form-group form1-form-group">
          <label>Chassis Number</label>
          <input type="text" placeholder="Enter Chassis Number" required>
        </div>

        <div class="form-group form1-form-group">
          <label>OR Number</label>
          <input type="text" placeholder="Enter OR Number" required>
        </div>

        <div class="form-group form1-form-group">
          <label>CR Number</label>
          <input type="text" placeholder="Enter CR Number" required>
        </div>
      </div>

      <a href="../User Dashboard/User_Dashboard.html">
        <button type="button" class="back-btn form1-back-btn">Back</button>
      </a>
      <a href="../Forms/forms_2.html">
        <button type="button" class="btn form1-btn" id="form1-next-btn" disabled>Next</button>
      </a>
    </form>
  </div>
</body>
</html>