{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Apply for Pass (2/3)</title>
  <link rel="icon" href="{% static 'images/favicon.png' %}">
  <link rel="stylesheet" href="{% static 'css/forms_style.css' %}">
  <script src="{% static 'javascript/forms.js' %}" defer></script>
</head>
<body>
  <div class="container">
    <h2 class="form2-h2">Registration for Vehicle Pass (2/3)</h2>

    <div class="progress-container">
      <div class="progress-bar" style="width: 66%;"></div> <!-- Adjust width for each step -->
    </div>

    <form method="POST">
      {% csrf_token %}
<!-- 
      {% if form.errors %}
        <div class="form-errors">
          <ul>
            {% for field in form %}
              {% for error in field.errors %}
                <li>{{ field.label }}: {{ error }}</li>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %} -->

      <h3>Vehicle Information</h3>
      <hr>
      <br>

      <div class="form1-aligned-group">
        <div class="form-group form2-form-group">
          <label for="{{ form.make_model.id_for_label }}">Vehicle Make and Model</label>
          {{ form.make_model }}
        </div>
        <div class="form-group form2-form-group">
          <label for="{{ form.plate_number.id_for_label }}">Plate Number</label>
          {{ form.plate_number }}
        </div>
        <div class="form-group form2-form-group">
          <label for="{{ form.color.id_for_label }}">Color</label>
          {{ form.color }}
        </div>
      </div>

      <div class="form1-aligned-group">
                <div class="form-group form1-form-group">
          <label for="{{ form.year_model.id_for_label }}">Year Model</label>
          {{ form.year_model }}
        </div>
        <div class="form-group form1-form-group">
          <label for="{{ form.type.id_for_label }}">Vehicle Type</label>
          {{ form.type }}
        </div>
        <div class="form-group form2-form-group">
          <label for="{{ form.engine_number.id_for_label }}">Motor/Engine Number</label>
          {{ form.engine_number }}
        </div>
      </div>

      <div class="form1-aligned-group">
        <div class="form-group form2-form-group chassis-number">
          <label for="{{ form.chassis_number.id_for_label }}">Chassis Number</label>
          {{ form.chassis_number }}
        </div>

        <div class="form-group form2-form-group">
          <label for="{{ form.or_number.id_for_label }}">Official Receipt - OR Number</label>
          {{ form.or_number }}
        </div>

        <div class="form-group form2-form-group">
          <label for="{{ form.cr_number.id_for_label }}">Certificate of Registration - CR Number</label>
          {{ form.cr_number }}
        </div>

      </div>

      <h3>Owner Information</h3>
      <hr>
      <br>

      <div class="form-group form2-form-group">
        <label for="{{ form.owner.id_for_label }}">Are you the owner of this vehicle?</label>
        {{ form.owner }}
      </div>

      <div id="owner-details" class="form2-owner-details" style="display: none;">
        <div class="form1-aligned-group">
          <div class="form-group form1-form-group">
            <label for="{{ form.owner_firstname.id_for_label }}">Owner's First Name</label>
            {{ form.owner_firstname }}
          </div>
          <div class="form-group form2-form-group">
            <label for="{{ form.owner_middlename.id_for_label }}">Owner's Middle Name</label>
            {{ form.owner_middlename }}
          </div>
          <div class="form-group form2-form-group">
            <label for="{{ form.owner_lastname.id_for_label }}">Owner's Last Name</label>
            {{ form.owner_lastname }}
          </div>
          <div class="form-group form2-form-group" style="max-width:100px;">
            <label for="{{ form.owner_suffix.id_for_label }}">Owner's Suffix</label>
            {{ form.owner_suffix }}
          </div>
        </div>

        <div class="form1-aligned-group">
          <div class="form-group form2-form-group relationship-to-owner">
            <label for="{{ form.relationship_to_owner.id_for_label }}">Relationship to Owner</label>
            {{ form.relationship_to_owner }}
          </div>
          <div class="form-group form2-form-group owner-contact">
            <label for="{{ form.contact_number.id_for_label }}">Owner's Contact Number</label>
            {{ form.contact_number }}
          </div>
        </div>

        <div class="form1-aligned-group">
          <div class="form-group form2-form-group owner-address">
            <label for="{{ form.address.id_for_label }}">Owner's Address</label>
            {{ form.address }}
          </div>
        </div>
      </div>

      <div class="form-navigation">
        <a href="{% url 'vehicle_registration_step_1' %}">
          <button class="back-btn form2-back-btn" type="button">Back</button>
        </a>
      
        <button class="btn form2-btn" type="submit" id="form2-next-btn" >Next</button>
      </div>
    </form>
  </div>

</body>
</html>