body {
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-box {
    background-color: #000;
    color: #FFD700;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px #FFD700;
    text-align: center;
    width: 320px;
}
.form-control {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
}
.form-control::placeholder {
    color: #bbb;
}
.btn-login {
    background-color: #FFD700;
    color: black;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    width: 100%;
    border: none;
    box-shadow: 0 0 5px #FFD700;
}
.btn-login:hover {
    background-color: #e6c200;
}