<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payment</title>
    <link rel="stylesheet" href="../../static/css/security-dashboard.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

    <div id="sidebar-container"></div>
    <!-- Main Content -->
     <main class="content p-4">
        <div class="d-flex justify-content-between align-items-center">
            <h2>HI, [SECURITY PERSONNEL NAME]</h2>
            <div class="d-flex align-items-center">
                <div class="position-relative me-3"></div>
            </div>
        </div>
        <p id="date" class="text-muted mb-0"></p>
        <br>

        <div class="row">
            <!-- Verified Applications -->
             <div class="col-md-6">
                <div class="card-body">
                    <h5>Verified Applications</h5>
                    <h2>24</h2>
                    <p>+2.5% than usual</p>
                </div>
             </div>

             <!-- Rejected Applications -->
            <div class="col-md-6">
                <div class="card-body">
                    <h5>Rejected Applications</h5>
                    <h2>5</h2>
                    <p>as of today</p>
                </div>
            </div>

            <!-- Announcements -->
             <a href="Announcements.html" class="text-decoration-none">
                <div class="card mt-3 announcements">
                    <div class="card-header bg-warning">📢 Announcements and Recent Updates</div>
                    <div class="card-body text-dark">
                        <p><strong>Security Dept:</strong>Temporary suspension of vehicle pass due to weather.</p>
                        <p><strong>Admin:</strong> Online payment option coming in v3.0.</p>
                    </div>
                </div>
             </a>
            

        </div>
     </main>

    <script src="../../static/javascript/securitydashboard.js"></script> 

</body>
</html>