body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
}


/* ========================================= */
/*              Sidebar              */
/* ========================================= */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: right;
    width: 250px;
    height: 100vh;
    background: #242424;
    color: black !important;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    overflow-y: hidden;
}

/* Sidebar Menu Items */
.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar ul li {
    padding: 10px 20px;
    text-align: left;
    margin: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: 200% !important;
}

.sidebar ul li a img {
    margin-left: 3%;
    margin-right: 3%;
    align-items: center;
}

.sidebar p {
    font-size: 14px;
    color: rgb(134, 136, 133);
    padding-top: 10px;
    padding-left: 23px;
    font-weight: bold;
}

/* Sidebar Collapse */
.sidebar.collapsed {
    width: 60px;
}

.sidebar.collapsed ul li {
    margin: 0;
}

/* Hide text inside the sidebar when collapsed */
.sidebar.collapsed ul li a {
    text-align: center;
    font-size: 0;
}

/* Show only icons when collapsed */
.sidebar.collapsed ul li a::before {
    font-size: 20px;
}

.sidebar.collapsed .toggle-btn {
    left: 50%;
}

.content.expanded {
    margin-left: 60px;
    width: calc(100% - 60px);
    transition: margin-left 0.3s ease;
}

.sidebar.collapsed p {
    display: none;
}

.sidebar.collapsed .navbar-brand {
    display: none;
}

/* Toggle Button */
.toggle-btn {
    position: absolute;
    top: 95%;
    transform: translate(-50%, -50%);
    left: 220px;
    background: none;
    border: none;
    color: yellow !important;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 5px;
    transition: left 0.3s ease;
}

/* Profile Section */
.profile {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    width: max-content;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
    object-fit: cover;
}

.profile-info {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 14px;
}

.profile-info .name {
    font-weight: bold;
    font-size: 15px;
}

.profile-info .position {
    font-size: 12px;
    color: rgb(170, 170, 170); 
}

/* Logout */
#logout {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

#logout img {
    width: 26px;
    height: 26px;
    transition: transform 0.4s ease-in-out;
}
#logout img:hover {
    transform:scale(1.2);
    color: #ffd700;
}
.sidebar.collapsed .profile {
    display: none;
}

.sidebar.collapsed #logout {
    display: none;
}
.sidebar.collapsed .toggle-btn {
    left: 50%;
}
.sidebar ul li.active {
    background: yellow !important; 
    border-radius: 20px;
}
.sidebar ul li.active a {
    color: black !important;
}
.sidebar ul li:hover {
    background: rgba(255, 255, 0, 0.237);
    cursor: pointer;
    border-radius: 20px;
}
.sidebar ul li:hover a {
    color: #121212 !important;
    font-weight: 100 !important;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    background: yellow;
    color: black;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.sidebar.collapsed .logo {
    font-size: 0;
    padding: 0;
}

.nav-link {
    color: white;
    padding: 10px;
}

.nav-link:hover, .active {
    background-color: yellow !important;
    border-radius: 5px;
}


/* ========================================= */
/*         Main Content                      */
/* ========================================= */


.content {
    margin-left: 270px;
    width: calc(100% - 270px);
}
.content p {
    color: rgb(103, 100, 100) !important;
}

/* Stat Card */
.stat-card {
    position: relative;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    z-index: 0;
    overflow: hidden;
}
.stat-card::before {
    content: "";
    position: absolute;
    top: -5px; left: -5px; right: -5px; bottom: -5px;
    background: linear-gradient(45deg, rgba(255, 255, 0, 0.8), rgba(135, 135, 16, 0.2));
    border-radius: 20px;
    z-index: -1;
}
.stat-card h5 {
    color: #ffe5b4;
    font-weight: bold !important;
}
.stat-card h2 {
    color: #ffffff;
    font-size: 65px;
    font-weight: bold !important;
}
.stat-card p {
    color: rgba(60, 59, 59, 0.6);
}



/* announcement */
.announcements {
    background: #fff8c3;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}



/* Recent Applications */
.recent-applications {
    border-radius: 8px;
    background: #1e1e2f;
    color: #ffffff;
    margin-bottom: 20px;
    padding: 15px;
}
/* Search Bar */
.search-container {
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 5px;
}
#search-bar {
    width: 250px;
    height: 30px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}
.search-btn {
    background: #f2e570;
    border: none;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.search-btn:hover {
    background: #0f0f09;
}
.search-bar {
    border-radius: 20px;
    padding: 10px;
    background: #29293d;
    color: white;
    border: 1px solid #444;
}
.search-bar:focus {
    outline: none;
    border-color: #4caf50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.7);
}

.search-bar::placeholder {
    color: #bbb;
}
/* user list */
.user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #29293d;
    color: white;
    border: 1px solid #444;
    padding: 10px;
    position: relative;
}
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-info .badge {
    width: 30px;
    height: 30px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-item div {
    display: flex;
    gap: 5px;
    position: absolute;
    right: 10px;
}
.user-item .btn {
    padding: 6px 10px;
    font-size: 14px;
    flex-shrink: 0;
    white-space: nowrap;
}
.user-item .btn:hover {
    background: rgba(0, 128, 0, 0.581), rgba(255, 0, 0, 0.581), rgba(128, 128, 128, 0.789);
}
.sidebar.collapsed .user-item div {
    display: flex;
    gap: 5px;
}
.sidebar.collapsed .user-item {
    justify-content: center;
}
.sidebar.collapsed .user-item div {
    display: flex;
    flex-wrap: nowrap;
}
#noResults {
    font-size: 16px;
    font-weight: bold;
    color: #ccc;
}



/* Graph Container Styling */
.graph-container {
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
}

.graph-container canvas {
    width: 100% !important;
    height: 300px !important;
}

@media (max-width: 768px) {
    .user-item {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 50px;
    }

    .user-item div {
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 8px;
    }
}