{% extends "includes/admin_sidebar.html" %}
{% load static %}

{% block title %}
    Manage Application
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/admin-dashboard-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <style>

        .main-content {
            flex-grow: 1;
            padding: 20px;
            margin-left: 120px;
        }
    </style>
{% endblock %}

{% block content %}
<div class="main-content flex-grow-1 ms-uto">
    <div class="container-fluid py-1">
        <!-- Title & Top Bar -->
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3">
             <h2 class="title mb-3 mb-md-0">Manage Passes</h2>
            <div class="d-flex align-items-center gap-3">
                <!-- Notification Bell -->
                <a href="Announcements.html" class="text-decoration-none text-light position-relative">
                    <img src="{% static 'images/notification.png' %}" alt="Notifications" width="35" height="35">
                    <span class="position-absolute top-0 start-100 translate-middle badge bg-danger rounded-circle p-1"></span>
                </a>
            </div>
        </div>

        <hr>
        <small><span id="date"></span></small>
        <br>



        <div class="filter-container">
            <div class="mb-3">
                <label for="start-date" class="form-label">Start Date:</label>
                <input type="date" id="start-date" class="form-control">
            </div>
            
            <div class="mb-3">
                <label for="end-date" class="form-label">End Date:</label>
                <input type="date" id="end-date" class="form-control">
            </div>
            
            <input class="position-absolute end-0 bottom-10 form-control w-20 me-5 mb-auto" type="text" id="search-bar" placeholder="🔍 Search">
        </div>

        <!-- Passes Table -->
                <section class="table-container">
                    <table class="passes-table">
                        <thead>
                            <tr>
                                <th>Application ID</th>
                                <th>Username</th>
                                <th>College</th>
                                <th>Department</th>
                                <th>Program</th>
                                <th>Plate Number</th>
                                <th>Owner of the Vehicle</th>
                                <th>Type</th>
                                <th>Date Applied</th>
                                <th>Renewal Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pass in vehicle_passes %}
                            <tr>
                                <td>{{ pass.vehicle.self_ownership.id }}</td>
                                <td>{{ pass.vehicle.self_ownership.firstname|upper }}, {{ pass.vehicle.owner.lastname|upper }}</td>
                                <td>{{ pass.vehicle.self_ownership.college }}</td>
                                <td>{{ pass.vehicle.self_ownership.department }}</td>
                                <td>{{ pass.vehicle.self_ownership.program }}</td>
                                <td>{{ pass.vehicle.plateNumber }}</td>
                                <td>{{ pass.vehicle.legal_owner.owner_firstname|upper }}, {{ pass.vehicle.legal_owner.owner_lastname|upper }}</td>
                                <td>{{ pass.vehicle.type }}</td>
                                <td>{{ pass.vehicle.created_at|date:"m/d/Y" }}</td>
                                <td>{{ pass.passExpire|date:"m/d/Y" }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="9" class="text-center">No passes found.</td>
                            </tr>
                            {% endfor %}
                        </tbody>               
                    </table>
                </section>

        <!-- Pagination -->
        {% include 'includes/pagination.html' %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'javascript/base.js' %}"></script>
    <script src="{% static 'javascript/Admin_Passes.js' %}"></script>
{% endblock %}